<form class="{{system}} macro-sheet {{cssClass}}" autocomplete="off" data-actor-id="{{actor._id}}">
    <nav class="sheet-tabs tabs" data-tab-container="primary">
        {{#if hasMacros.weaponsSpells}}
        <a class="item flex-1" data-tab="weapons-spells">Weapons&nbsp;&amp;&nbsp;Spells</a>
        {{/if}}
        {{#if hasMacros.saves5e}}
        <a class="item flex-1" data-tab="saving-throws">Saving&nbsp;Throws</a>
        {{/if}}
        {{#if hasMacros.abilities5e}}
        <a class="item flex-1" data-tab="ability-checks">Ability&nbsp;Checks</a>
        {{/if}}
        {{#if hasMacros.tools}}
        <a class="item flex-1" data-tab="tools">Tools</a>
        {{/if}}
        <a class="item flex-1" data-tab="custom">Custom</a>
    </nav>

    {{#if hasMacros.weaponsSpells}}
    <div class="tab" data-tab="weapons-spells">
        <div class="macros">
            {{#if hasMacros.weapons}}
            <div class="weapons-header">
                <div class="weapon-enable">&nbsp;</div>
                <div class="weapon-name">Weapon</div>
                <div class="weapon-range">Range</div>
                <div class="weapon-hit">To Hit</div>
                <div class="weapon-damage">Damage</div>
            </div>
            {{#each macros.weapons as |weapon wid|}}
            <div class="weapon item" data-weapon-id="{{weapon.id}}">
                <div class="weapon-enable"><input type="checkbox" class="enable" {{checked weapon.enabled}} /></div>
                <div class="weapon-name">{{weapon.name}}</div>
                <div class="weapon-range">{{weapon.data.range.value}}</div>
                <div class="weapon-hit">{{weapon.data.hit}}</div>
                <div class="weapon-damage">{{weapon.data.damage.value}}</div>
            </div>
            {{/each}}
            {{/if}}
            {{#if hasMacros.weapons}}
            <div class="spells-header">
                <div class="spell-enable">&nbsp;</div>
                <div class="spell-name">Spell</div>
                <div class="spell-level">Level</div>
                <div class="spell-school">School</div>
                <div class="spell-extra">&nbsp;</div>
            </div>
            {{#each macros.spells as |spell sid|}}
            <div class="spell item" data-spell-id="{{spell.id}}">
                <div class="spell-enable"><input type="checkbox" class="enable" {{checked spell.enabled}} /></div>
                <div class="spell-name">{{spell.name}}</div>
                <div class="spell-level">{{spell.data.level.value}}</div>
                <div class="spell-school">{{spell.school}}</div>
                <div class="spell-extra">&nbsp;</div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
    {{/if}}

    {{#if hasMacros.saves5e}}
    <div class="tab" data-tab="saving-throws">
        <div class="macros">
            <div class="save-toggles">
                <div class="enable-all">
                    <label>
                        <input type="checkbox" class="prompt" name="Saving Throws" {{checked macros.saves.prompt}}>
                        Prompt (Creates one macro that prompts which abililty to use)
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="str" name="Strength Save" {{checked macros.saves.str}}>
                        Strength
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="dex" name="Dexterity Save" {{checked macros.saves.dex}}>
                        Dexterity
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="con" name="Constitution Save" {{checked macros.saves.con}}>
                        Constitution
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="int" name="Intelligence Save" {{checked macros.saves.int}}>
                        Intelligence
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="wis" name="Wisdom Save" {{checked macros.saves.wis}}>
                        Wisdom
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="cha" name="Charisma Save" {{checked macros.saves.cha}}>
                        Charisma
                    </label>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if hasMacros.abilities5e}}
    <div class="tab" data-tab="ability-checks">
        <div class="macros">
            <div class="ability-toggles">
                <div class="enable-all">
                    <label>
                        <input type="checkbox" class="prompt" name="Ability Checks" {{checked macros.abilities.prompt}}>
                        Prompt (Creates one macro that prompts which abililty to use)
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="str" name="Strength Check" {{checked macros.abilities.str}}>
                        Strength
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="dex" name="Dexterity Check" {{checked macros.abilities.dex}}>
                        Dexterity
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="con" name="Constitution Check" {{checked macros.abilities.con}}>
                        Constitution
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="int" name="Intelligence Check" {{checked macros.abilities.int}}>
                        Intelligence
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="wis" name="Wisdom check" {{checked macros.abilities.wis}}>
                        Wisdom
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="cha" name="Charisma" {{checked macros.abilities.cha}}>
                        Charisma
                    </label>
                </div>
            </div>
            <hr />
            <div class="ability-toggles">
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="acr" name="Acrobatics Check" {{checked macros.abilities.acr}}>
                        Acrobatics
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="ani" name="Animal Handling Check" {{checked macros.abilities.ani}}>
                        Animal Handling
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="arc" name="Arcana Check" {{checked macros.abilities.arc}}>
                        Arcana
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="ath" name="Athletics Check" {{checked macros.abilities.ath}}>
                        Athletics
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="dec" name="Deception check" {{checked macros.abilities.dec}}>
                        Deception
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="his" name="History" {{checked macros.abilities.his}}>
                        History
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="ins" name="Insight Check" {{checked macros.abilities.ins}}>
                        Insight
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="itm" name="Intimidation Check" {{checked macros.abilities.itm}}>
                        Intimidation
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="inv" name="Investigation Check" {{checked macros.abilities.inv}}>
                        Investigation
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="med" name="Medicine Check" {{checked macros.abilities.med}}>
                        Medicine
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="nat" name="Nature check" {{checked macros.abilities.nat}}>
                        Nature
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="prc" name="Perception" {{checked macros.abilities.prc}}>
                        Perception
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="prf" name="Performance Check" {{checked macros.abilities.prf}}>
                        Performance
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="per" name="Persuasion Check" {{checked macros.abilities.per}}>
                        Persuasion
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="rel" name="Religion Check" {{checked macros.abilities.rel}}>
                        Religion
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="slt" name="Sleight of Hand Check" {{checked macros.abilities.slt}}>
                        Sleight of Hand
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="ste" name="Stealth check" {{checked macros.abilities.ste}}>
                        Stealth
                    </label>
                </div>
                <div class="enable-one">
                    <label>
                        <input type="checkbox" class="sur" name="Survival" {{checked macros.abilities.sur}}>
                        Survival
                    </label>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if hasMacros.tools}}
    <div class="tab" data-tab="tools">
        <div class="macros">
            <div class="tools-header">
                <div class="tool-enable">&nbsp;</div>
                <div class="tool-name">Tool</div>
            </div>
            {{#each macros.tools as |tool tid|}}
            <div class="tool item" data-tool-id="{{tool.id}}">
                <div class="tool-enable"><input type="checkbox" class="enable" {{checked tool.enabled}} /></div>
                <div class="tool-name">{{tool.name}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}

    <div class="tab" data-tab="custom">
        <div class="macros">
            {{#each macros.custom as |macro mid|}}
            <div class="macro">
                <div class="macro-list">
                    <div class="macro-list-name">
                        {{macro.label}}
                    </div>
                    <a class="macro-list-btn fas fa-edit"></a>
                    <a class="macro-list-btn fas fa-times"></a>
                </div>
                <div class="macro-edit hide">
                    <div class="macro-label">
                        <input type="text" name="label" value="{{macro.label}}" placeholder="Macro Name" data-type="String" />
                    </div>
                    <div class="macro-content">
                        <textarea name="content" rows="8" value="{{macro.content}}" data-type="String">{{macro.content}}</textarea>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="macro-action-bar">
            <button class="new-custom-macro btn btn-dark" role="button">Add Macro</button>
        </div>
    </div>
</form>